.timeline {
  overflow-y: scroll;
  max-height: 100vh;

  // flexbox container
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  // center everything
  -webkit-align-items: center;
  align-items: center;
}
